.not-implemented {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 60vh;
  padding: 2rem;
  text-align: center;
  color: #4a5568;
}

.not-implemented__icon {
  color: #667eea;
  margin-bottom: 1.5rem;
  font-size: 64px;
}

.not-implemented__title {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.not-implemented__description {
  font-size: 1.1rem;
  max-width: 500px;
  line-height: 1.6;
  color: #718096;
} 